<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:fragment="header">
		<header>
		    <div class="container-sm border">
		      	<img th:src="@{/LogoICEVI.png}" alt="aquí esta el header" width="804" height="236"> 
		    </div>
		</header>
	</div>
	<div th:fragment="nav-menu">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			  <a class="navbar-brand" href="#" name="Logo ICEVI">I C E V I</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>
				<div class="collapse navbar-collapse" id="collapsibleNavbar">
				    <ul class="navbar-nav">
				      <li class="nav-item dropdown">
					      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Quiénes somos</a>
				              <div class="dropdown-menu">
				        		<a class="dropdown-item" href="greeting">Antecedentes</a>
						        <a class="dropdown-item" href="#Legalizacion">Legalización</a>
						        <a class="dropdown-item" href="#">Estructura y autoridades</a>
						        <a class="dropdown-item" href="#">Objetivos estrategicos</a>
						       </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Nuestro trabajo</a>
				        <div class="dropdown-menu">
				        		<a class="dropdown-item" href="#">Nuestras regiones</a>
						        <a class="dropdown-item" href="#">Monitoreo sobre estado de la educación inclusica en América Latina</a>
						 </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Delegados</a>			
				         <div class="dropdown-menu">
				        		<a class="dropdown-item" href="#">Subregionales</a>
						        <a class="dropdown-item" href="#">Nacionales</a>
						 </div>
				      </li>    
				     <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle"data-toggle="dropdown" href="#">Aliados</a>
				         <div class="dropdown-menu">
				        		<a class="dropdown-item" href="#">ICEVI Global</a>
						        <a class="dropdown-item" href="#">FOAI</a>
						        <a class="dropdown-item" href="#">Fundación holandesa</a>
						        <a class="dropdown-item" href="#">ULAC</a>
						        <a class="dropdown-item" href="#">READIS</a>
						        <a class="dropdown-item" href="#">Perkins</a>
						 </div>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Publicaciones</a>
				        <div class="dropdown-menu">
				        		<a class="dropdown-item" href="#">Posicionamiento técnico</a>
						        <a class="dropdown-item" href="#">Los niños nos cuentan</a>
						        <a class="dropdown-item" href="#">Boletines</a>
						        <a class="dropdown-item" href="#">El Educador</a>
						        <a class="dropdown-item" href="#">Estatutos</a>
						        <a class="dropdown-item" href="#">Plan estratégico</a>
						        <a class="dropdown-item" href="#">Otras publicaciones</a>
						 </div> 
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Eventos</a>
				        <div class="dropdown-menu">
				        		<a class="dropdown-item" href="#">Eventos 2021</a>
						        <a class="dropdown-item" href="#">Webinars</a>
						 </div> 
				      </li>    
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Recursos</a>
				        <div class="dropdown-menu">
				        		<a class="dropdown-item" href="#">Biblioteca</a>
						        <a class="dropdown-item" href="#">Software</a>
						        <a class="dropdown-item" href="#">Videoteca</a>
						        <a class="dropdown-item" href="#">Audioteca</a>
						 </div> 
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Afiliate</a>
				        <div class="dropdown-menu">
				        		<a class="dropdown-item" href="#">¿Qué es ser aliado ICEVI?</a>
						        <a class="dropdown-item" href="formularioAliados">Formulario de afiliación</a>
						 </div> 
				      </li>    
				    </ul>
				  </div>  
			</nav>
	</div>
	 <footer th:fragment="footer">
      <div class="jumbotron text-center" style="margin-bottom:0">
	  <div class="container" aling="center">
	  Contactanos<br>
	  	<a href="https://www.linkedin.com/">
		  	<button>
			  	<i class="fa fa-linkedin-square" style="font-size:24px"></i> Linkedin ICEVI
			</button>
		</a>
		<a href="https://www.facebook.com/ICEVILatinoamerica/">
		    <button>
		  		<i class="fa fa-facebook-square" style="font-size:24px"></i> Facebook ICEVI
			</button>
		</a>
		<a href="https://twitter.com/ICEVI_LA/">
		    <button>
			  	<i class="fa fa-twitter-square" style="font-size:24px"></i> Twitter ICEVI
		  	</button>
		</a>
		</div>
    </footer>
</body>
</html>